.banner {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),url("../../images/wardrobe.jpg");
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  text-shadow: 1px 1px 3px rgb(0 0 0 / 20%);
}

.banner .container {
  color:white;
}
