.footer {
  background:rgb(4, 66, 25);
  padding: 40px;
  text-align: center;
}

.footer a {
  color: rgb(252, 248, 248);
  font-size: 32px;

}

.links p {
  color: grey;
}

.links .fas {
  color: red;
}

.footer a:hover {
  color:rgb(177, 175, 176);
}
